.data {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
  box-sizing: border-box;	
}

#ace-editor {
	margin-top: 10px;
	width: 100% !important;
}

.ace-monokai {
	background-color: #141618 !important;
}

.ace-monokai .ace_gutter {
	background-color: transparent !important;
}

.data h2 {
	color: rgb(108, 174, 221);
	align-self: flex-start;
}

.datum {
	display: flex;
	flex-direction: row;
	border-top: 1px solid lightgrey;
	width: 90%;
	height: 30px;
	box-sizing: border-box;
}

.datum.isOdd {
	background-color: #1C2022;
}

.datum.title {
	border-top: none;
	font-weight: 400;
}

.datum .x, .datum .y {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	width: 70px;
}

.datum .x {
	border-right: 1px solid lightgrey;
}

.data .button {
	margin-top: 20px;
	background-color: #1C2022;
	width: 200px;
	height: 40px;
	font-size: 0.9rem;
	font-weight: 400;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	transition: background-color .3s linear;
}

.data .button:hover {
	background-color: #141618;
	cursor: pointer;
}

.data button.button-modal {
	align-self: flex-end;
	margin-top: 20px;
	width: 100px;
	height: 30px;
	font-size: 0.8rem;
	border-radius: 50px;
	font-weight: 400;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border: none;
	color: white;
	background-color: #141618;
	transition: all .3s linear;	
	border: 1px solid grey;
}

.data button.button-modal p {
	padding: 0px;
	margin: 0px;
}

.data button.button-modal:hover {
	background-color: #1C2022;
	border: 1px solid white;
	cursor: pointer;
}

.data button.button-modal:focus {
	outline: none;
}

.data .modal textarea {
	width: 100%;
  height: 100%;
  margin-top: 10px;
  background-color: #141618;
  color: white;
  border: none;
  font-size: .9rem;
  font-family: Roboto;
  padding: 10px;
}

.data .footer-modal {
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

