.designViewContainer {
	display: flex;
}

.chartContainer {
	width: 70%;
	background-color: grey;
	border-right: 2px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
}

.editorContainer {
	width: 30%;
	background-color: green;
}
