.chart {
	background-color: #141618;
	width: calc( 100% - 250px );
	padding: 30px;
	padding-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
}

.victory {
	width: 600px;
	height: 400px;
}