.chart {
	background-color: #141618;
	display: flex;
	width: calc( 100% - 250px );
	padding: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.victory {
	width: 600px;
	height: 400px;
	background-color: white;
}