.colorPicker {
	padding: 0px 20px 0px 20px;
	margin: 5px 0px 0px 10px;
	display: flex;
	flex-direction: column;
}

.colors {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.color {
	width: 23px;
	height: 23px;
	border-radius: 4px;
	margin: 0px 5px 5px 0px;
	box-sizing: border-box;
}

.color:hover, .color.selected {
	cursor: pointer;
	border: 2px solid white !important;
}

.colorPicker .colors .transparent {
  border: 2px solid transparent;
  width: 23px;
  height: 23px;  
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  box-sizing: border-box;  
}

.colorPicker .colors .transparent svg {
  fill: white;
  width: 80%;
  height: 80%;
}

.hex {
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: darkgrey;
  background-color: rgb(36, 40, 42);
	border-radius: 4px;
  border: 2px solid transparent;
  box-sizing: border-box;
  font-size: 1rem;
}

.hex:focus-within {
	border: 2px solid lightblue;
}

.hashtag {
  padding: 0px 10px 0px 10px;
}

.hex input {
  width: auto;
  margin-left: 0px !important;
  height: 30px;
  border: none;
  border-radius: 0px 4px 4px 0px;
  font-family: 'Roboto' !important;
  color: white !important;
  background-color: transparent;
  padding-left: 5px;
  font-size: .9rem !important;
}

.hex input:focus {
	outline: none;
}
