.header {
	height: 40px;
	background-color: #1C2022;
	color: white;
	border: 3px solid rgb(18,21,22);
	font-family: 'Roboto', sans-serif;
	font-weight: 350;
	font-size: 1rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0px 20px 0px 20px;
}

.left {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.dividor {
	width: 0;
	height: 20;
	border-right: 1px solid rgba(255, 255, 255, 0.3);
}

a.link {
	margin-left: 10px;
	width: 80px;
	height: 100%;
	transition: 0.2s;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	color: lightgrey;
	fill: lightgrey;
	box-sizing: border-box;
	font-size: .8rem;
  text-decoration: none;
	transition: 0.2s;
  border-bottom: 3px solid transparent;
	margin-bottom: -3px;
}

a.link:hover {
	cursor: pointer;
	border-bottom: 3px solid rgb(108, 174, 221);
	color: white;
	fill: white;
}

a.link > p {
	padding-left: 7px;
}

a.link svg {
	height: 50%;
}

.right {
	display: flex;
	flex-direction: row;
}



