.menu {
	display: flex;
	flex-direction: column;
	width: auto;
	padding-left: 20px;
}

.menu-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
	height: 30px;
  margin-right: 20px;
  padding: 0px 10px;
	font-size: 0.7rem;
  border: 1px solid transparent;
  text-transform: uppercase;
}

.menu-item:hover {
	border: 1px solid grey;
  border-radius: 3px;
  cursor: pointer;
}

.menu-item svg {
	fill: white;
	height: 10px;
}