.modal {
	position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 100px;
  background-color: rgba(0, 0, 0, 0.6);  
}

.modal .modal-content {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;	
  background-color: #141618;
  border-radius: 5;
  width: 80%;
  height: 80%;
  margin: 0px auto;
  padding: 15px;
  padding-top: 5px;	
}

.modal .modal-content button.close-icon {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 40px;
  background-color: transparent;
  border-radius: 50px;
  border: none;
  transition: background-color .1s linear;
  padding: 0px;
  margin: 0px;
  margin-right: -10px;
}

.modal .modal-content button.close-icon:focus {
	outline: none;
}

.modal .modal-content button.close-icon svg {
	fill: lightgrey;
	width: 15px;
	height: 15px;
}

.modal .modal-content button.close-icon:hover svg {
	fill: white;
}

.modal .modal-content button.close-icon:hover {
	background-color: #3A464E;
}

.modal .modal-content button.close-icon:active {
	background-color: #313b42;
}