.selectable {
	font-size: 16px;
	font-family: Lato;
	display: flex;
	flex-direction: row;
}

.selectable .item {
	width: 50%;
	height: 70px;
}

.selectable .item.selected {
	border-bottom: 5px solid blue;
}

button.item:focus {
	outline: none;
}

button.item:hover {
	cursor: pointer;
}