.theme {
	min-width: 300px;
	max-width: 300px;
	height: auto;
	overflow-y: scroll;
	background-color: rgb(36, 40, 42);
	flex-direction: column;
	padding-top: 20px;
}

.theme .title h2 {
	color: rgb(108, 174, 221);
	margin-top: 0px;
	padding-left: 20px;
}