.theme {
	min-width: 250px;
	height: auto;
	overflow-y: scroll;
	background-color: rgb(36, 40, 42);
	flex-direction: column;
	padding-top: 20px;
}

.theme h3 {
	color: rgb(108, 174, 221);
	font-weight: 390;
	margin-top: 0px;
	padding-left: 20px;
}