.themebar {
	width: calc( 100% - 20px );
	display: flex;
	flex-direction: column;
	height: auto;
	min-height: 150px;
}


.themebar .buttons {
	height: auto;
	margin: 0px 10px 30px 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-left: 20px;
	padding-right: 20px;
	box-shadow: border-box;
	user-select: none;
}

.themebar p {
	font-weight: 300;
	font-size: .9rem;
	font-style: italic;
}

button.themebarbutton {
	width: 150px;
	height: 50px;
	border-radius: 50px;
	border: 2px solid transparent;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #25282A;
	margin-left: 20px;
	transition: border .3s linear;
	transition: background-color .05s linear;	
}

button.themebarbutton p {
	font-size: 1rem;
	font-family: 'Roboto';
	font-style: normal;
	color: white;
}

button.themebarbutton:focus {
	outline: none;
}

button.themebarbutton:active {
	background-color: #141618;
}

button.themebarbutton:hover {
	border: 2px solid #464F5D;
	cursor: pointer;
}