.toggles {
	width: calc( 100% - 20px );
	height: 50px;
	background-color: #1C2022;
	margin: 0px 10px 10px 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding-left: 20px;
	padding-right: 20px;
	box-shadow: border-box;
	user-select: none;
}

.toggles-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	min-width: 150px;
}

.toggles-item p {
	margin-right: 10px;
	text-transform: uppercase;
	font-weight: 400;
}

.another-menu-item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 30px;
	padding: 0px 20px 0px 20px;
	width: 120px;
}

.another-menu-item svg {
	fill: white;
	height: 15px;
	width: 15px;
}

.another-menu-item:hover {
	background-color: #141618;	
}

.another-menu-item p {
	text-transform: capitalize;
}

